*{
    margin: 0;
    padding: 0;
}
/* navbar style css start */
.nav-parent{
    display: flex;
    justify-content: space-between;
    margin: 5% auto;
    padding: 5% auto;
}
.menu ul{
    list-style: none;
    font-weight: bold;
    font-size: medium;
}
.menu ul li a {
    text-decoration: none;
    color: #a0a0a0;
    margin-right: 10PX;
}
